<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/goku.jpg">
        <p>This is a weather app. The data is taken by the darksky.net</p>
    </div>
    
    {{>footer}}
</body>

</html>